// header
header {
  position: relative;
  text-align: center;
  width: 100%;
}

.menu-bar {
  z-index: 1;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: rgba($sub-color, 0.2);

  .menu-bar-container {
    display: flex;
    max-width: $max-width;
    padding: $padding;
    margin: $margin;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    align-items: center;

    .menu-logo {
      font-size: 18px;
      font-style: normal;
      text-decoration: none;
      color: $main-color;
      margin: 0;
    }

    .menu-container {
      font-size: 14px;
      font-weight: 300;
      display: flex;
      list-style: none;
      align-items: center;
      margin: 0;

      li {
        align-self: center;
      }

      a {
        background: none;
        color: $main-color;
        text-decoration: none;
        padding: 0 8px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.slider-wrapper {
  position: relative;

  .title-text {
    position: absolute;
    display: inline-block;
    color: $sub-color;
    font-family: Lato;
    font-size: 64px;
    font-weight: 100;
    line-height: 77px;
    letter-spacing: 0;
    text-shadow: $shadow;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }

  .slider {
    position: relative;
    margin-bottom: 80px;
    height: 480px;

    .slider-container {
      position: relative;
      &::after {
        @include background-color;
      }
    }

    .slide-dots {
      position: absolute;
      bottom: 24px;
      left: calc(50% - 32px);
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      z-index: 999;

      li {
        padding: 0 4px;
        display: block;

        button {
          text-indent: -9999px;
          width: 8px;
          height: 8px;
          border: none;
          border-radius: 50%;
          background-color: $sub-color;
          opacity: 0.8;
          outline: none;
          padding: 0;
        }

        &.slick-active {
          button {
            width: 9px;
            height: 9px;
            box-shadow: 0 0 0 1px $main-color;
          }
        }
      }
    }
  }
}

// 本当は以下のようにやりたかった
// .slide-button {
//   position: absolute;
//   bottom: 24px;
//   display: flex;
//   width: 100%;
//   justify-content: center;

//   &__circle {
//     display: inline-block;
//     width: 8px;
//     height: 8px;
//     border-radius: 50%;
//     background-color: $sub-color;
//     opacity: 0.8;
//     margin: 0 4px;

//     // ここ何故か効いてない
//     &--selected {
//       border: 1px solid $main-color;
//     }
//   }
// }
