@media (max-width: 480px) {
    // header
    .menu-bar {
      .menu-bar-container{
        width: 100%!important;
        padding: 0 4.4%;
        justify-content: center;
      }

      .menu-container {
        display: none!important;
      }
    }
  
    .title {
      span {
        top: 170px;
      }
    }
  
    .news {
      padding: 0 4.4%;
    }


    // news
    .news {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
  
      .news-image {
        width: 100%;
  
        .image-container {
          width: 100%;
          height: auto;
          margin: 0;
          display: flex;
          top: 0;
          left: 0;
          justify-content: center;
  
          &::before {
            @include background-color;
          }
  
          .news-logo {
            top: 20px;
            left: 113px;
          }
        }
      }
      .news-topics {
        width: 100%;
        margin: 14px 0 70px 0;
  
        .topics-container {
          text-align: center;
          margin: 5px 0 0 0;
          width: 100%;
        }
      }
    }

    // archives
    .archives-contents{
      max-width: initial;
      padding: 0 4.4%!important;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
    
      .contents-container{
        width: auto!important;
      }
    }
    .button{
      padding: 0 4.4%;
    }
  }
  
