$main-color: #000000;
$sub-color: #ffffff;
$shadow: 0px 0px 10px #000000;

@mixin background-color {
  background-color: rgba(0, 0, 0, 0.26);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

// header
header {
  position: relative;
  text-align: center;
  width: 100%;
}

.title {
  background: url("background-image.png") no-repeat;
  height: 480px;
  background-position: center;
  margin-bottom: 80px;
  position: relative;

  span {
    display: inline-block;
    color: $sub-color;
    font-family: Lato;
    font-size: 64px;
    font-weight: 100;
    line-height: 77px;
    letter-spacing: 0;
    text-shadow: $shadow;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: 1;
  }

  &::before {
    @include background-color;
  }
}

.menu-bar {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;

  ul {
    font-size: 14px;
    font-style: light;
    font-weight: 300;
    padding: 0 14%;
    display: flex;
    list-style: none;
    align-items: center;
    margin: 19px 0 19px 0;

    li {
      align-self: center;
    }

    li:first-child {
      font-size: 18px;
      font-weight: normal;
      margin-right: auto;
    }

    a {
      color: $main-color;
      text-decoration: none;
      padding: 0 8px 0 8px;
    }
  }
  &::before {
    background: $sub-color;
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
  }
}

.slide-button {
  position: absolute;
  bottom: 24px;
  display: flex;
  width: 100%;
  justify-content: center;

  &__circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $sub-color;
    opacity: 0.8;
    margin: 0 4px;
  }
}

.slide-button__circle—-selected {
  border: 1px solid $main-color;
}

// 本当は以下のようにやりたかった
// .slide-button {
//   position: absolute;
//   bottom: 24px;
//   display: flex;
//   width: 100%;
//   justify-content: center;

//   &__circle {
//     display: inline-block;
//     width: 8px;
//     height: 8px;
//     border-radius: 50%;
//     background-color: $sub-color;
//     opacity: 0.8;
//     margin: 0 4px;

//     // ここ何故か効いてない
//     &--selected {
//       border: 1px solid $main-color;
//     }
//   }
// }

// news-image
.news {
  overflow: hidden;

  .news-image {
    width: 50vw;
    float: left;

    .image-container {
      float: right;
      position: relative;
      width: 500px;
      height: 120px;
      margin-right: 17px;

      &::before {
        @include background-color;
      }
    }

    img {
      width: 100%;
    }

    span {
      position: absolute;
      top: 35%;
      left: 41%;
      color: $sub-color;
      font-size: 32px;
      font-weight: 300;
      text-shadow: $shadow;
    }
  }
}

// news-topics
.news-topics {
  width: 50vw;
  float: right;
  margin-bottom: 70px;

  .topics-container {
    margin: 5px 20px 0 20px;
    padding: 0;
    list-style: none;
    font-size: 16px;
    width: 500px;

    li {
      font-family: Noto Sans JP;
      font-size: 14px;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.87);
      line-height: 20px;
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    &:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}

// archives
.archives {
  margin: 0;

  .archives-title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .archives-contents {
    text-align: center;
    padding: 0 7%;

    .contents-container {
      text-align: left;
      position: relative;
      width: 238px;
      display: inline-block;
      margin: 0 12px;

      .image-wrap {
        margin-bottom: 8px;
        background-color: #000000;
        border-radius: 3px;
        height: 120px;

        .contents-image {
          position: relative;
          border-radius: 3px;
          opacity: 0.74;
        }
      }

      .description {
        font-size: 14px;
        font-weight: 600;
        margin: 0 0 8px;
        color: rgba(0, 0, 0, 0.87);
      }

      .date {
        text-align: right;
        font-size: 10px;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.54);
        margin: 0 0 24px;
      }
    }
  }
}

// more
.button {
  text-align: center;

  .more-button {
    margin: 24px auto 100px;
    width: 300px;
    border: 1px solid $main-color;
    border-radius: 50px;

    p {
      margin: 14px auto;
    }
  }
}

@media (max-width: 480px) {
  // menu-bar
  .menu-bar {
    ul {
      padding: 0 7%;
    }
  }

  .title {
    span {
      top: 170px;
    }
  }

  // news-image
  .news {
    display: flex;
    flex-direction: column;

    .news-image {
      width: 100%;

      .image-container {
        width: 100%;
        height: auto;
        margin: 0;

        &::before {
          @include background-color;
          bottom: 3px;
        }

        span {
          top: 20px;
          left: 113px;
        }
      }
    }
    .news-topics {
      width: 100%;
      margin: 14px 0 70px 0;

      .topics-container {
        text-align: center;
        margin: 5px 0 0 0;
        width: 100%;
      }
    }
  }
}
